.git
.gitignore
README.md

node_modules
npm-debug.log

vendor

.env
.env.*

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views

tests

docker-compose.yml
Dockerfile*

.vscode
.idea
.DS_Store